<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <title> Shake On It v2 - Winner's Only </title>
</head>

<body>
    <section class="landing">
        <nav>
            <!-- Add Google sign-in button here using Passport -->
            <a href="/auth/google" class="login">LOG IN </a>
        </nav>

        <h1> Shake On It !</h1>


        <main>
            <div>
                <p class="top">
                    Are you tired of hearing the same old stories from your friends? <br />
                    Tired of the 'he said, she said's? <br />
                    Tired of hearing 'I got you next time'? <br />
                    <span class="sell">Well, do I have the solution for you! </span><br />
                </p>
            </div>
            <div>
                <p>
                    <span class="name">Introducing ' Shake On It ! ' </span><br />
                    - the website that lets you keep track, and make bets with your friends! <br />
                    Challenge your buddies to push-ups, make a wager on an NFL game, or bet on a round of golf! <br />
                    It's time to shake things up and be good sports around here! <br />
                    So what are you waiting for? Don't let your friends off the hook! <br />
                    - try ' Shake On It !' and start settling your bets, today! <br />
                </p>
            </div>

        </main>
    </section>
</body>

</html>