<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Shake On It - Landing </title>
</head>

<body>
    <h1> LANDING </h1>
    <nav>
        <a href="/profile"> Profile </a>
        <br />
        <a href="/friends"> Add user to friend list </a>
        <br />
        <a href="/creategame"> Create a Game </a>
        <br />
        <a href="/pending"> Pending - Game Requests </a>
        <br />
        <a href="/auth/logout"> Log Out </a>
    </nav>

    <main>
        <section class="games">
            <br />
            Table of games here
            <br />
        </section>
    </main>
</body>

</html>